<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Drinks</title>
<!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>

<body class="container">
	
	<header class="mb-4">
		<h2>
			<a class="btn btn-info" href="/">Pizze</a>
		</h2>
		<h2>
			<a href="/drink" class="btn btn-info">Drinks</a>
		</h2>
		<br>
		<h3><a class="btn btn-warning" href="/drink/create">Create drink</a></h3>
	</header>
	
	<main>
		<ul th:if="${drinks.size()} > 0">
			<li 
				th:each="drink : ${drinks}"
				class="mb-3"
			>
				[[${drink.id}]] - 
				<a th:href="@{/drink/{id} (id=${drink.id})}">
					 [[${drink.name}]]       
				</a>
				<a th:href="@{/drink/update/{id} (id=${drink.id})}" class="btn btn-warning">    Update</a>
				<a th:href="@{/drink/delete/{id} (id=${drink.id})}" class="btn btn-danger">    Delete</a>
			</li>
		</ul>
		<p th:unless="${drinks.size() > 0}">The list of drinks is empty at the moment. We are sorry about that!</p>
	</main>
	
	
	<!-- Bootstrap Bundle with Popper -->
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>